body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex; /* Ensures the body uses flexbox layout */
    flex-direction: row; /* Aligns children (map and info containers) in a row */
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 40px); /* Subtract margins from the total height */
    width: calc(100% - 40px); /* Subtract margins from the total width */
    margin: 20px;
    border-radius: 25px; /* Rounded corners */
    overflow: hidden; /* Ensures children do not break the rounded corners */
}

#map-container {
    flex: 70%;
    height: 100%; /* Adjusted to fill the height of the main container */
}

#info-container {
    flex: 30%;
    height: 100%; /* Adjusted to fill the height of the main container */
    display: flex;
    flex-direction: column;
}

#image-container {
    flex: 2; /* Makes the image container take up twice as much space as the description container */
    background-color: #f0f0f0; /* Sets a light gray background for the image container */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    overflow: hidden; /* Ensures content doesn't overflow the container bounds */
}

#description-container {
    flex: 1; /* Maintains the original size ratio for the description container */
    background-color: #ffffff; /* Sets a white background for the description container */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    overflow: hidden; /* Ensures content doesn't overflow the container bounds */
}
